langchain
nltk
numpy
python-dotenv
pytorch_pretrained_bert
starlette
streamlit
torch
qtorch
unstructured
inference
unstructured-inference
types-pkg-resources
huggingface-hub
boto3
python-magic
python-magic-bin
tiktoken
faiss-cpu
openai
multidict 
six
regex
sentence-transformers
nltk
scikit-learn
tabulate 
pdf2image 
pytesseract